*
!.gitignore 
!project_book/
!project_book/*
!project_book/local-backups/.gitkeep
!project_book/show-commands-explained/**
!project_book/topology-images/
!project_book/topology-images/**
!packet_tracer/*
!packet_tracer/local-backups/.gitkeep
!snippets/
!snippets/*
!liel_networks_project_book.pdf
!saved_logo.png
!images/
!images/*
!cyber_security_book_grade_13.pdf
!networks_book_grade_13.pdf