*
!.gitignore 
!project_book/*
!project_book/local-backups/.gitkeep
!project_book/show-commands-explained
!packet_tracer/*
!packet_tracer/local-backups/.gitkeep
!snippets/**
!liel_networks_project_book.pdf
!saved_logo.png